html,
body {
    overflow-x: hidden;
}

/* section-1 */
.section-1 {
    background-image: url(./ben-griffiths-l7R85WBKl1c-unsplash.jpg) ;
    
    height: 625px;
}

h1 {
    position: relative;
    top: -100px;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    font-style: italic;
    color: white;
}

.heads {
    background-color: rgb(65, 55, 55);
    margin-top: 60px;
}

#tail {
    position: relative;
    left: 100px;
    top: -50px;
}

.plyer label {
    position: relative;
    top: -90px;
    left: 70px;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
}

.plyer input {
    position: relative;
    top: -90px;
    left: 70px;
    
}

.name label {
    position: relative;
    top: -145px;
    left: 310px;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
}

.name input {
    position: relative;
    top: -145px;
    left: 310px;
}

.butt button {
    position: relative;
    left: 180px;
    top: -120px;
    width: 100px;
}

.butt button:hover {
    background-color: rgb(242, 216, 216);
}